<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <script src="/javascripts/companyNewsSentimentAnalysis.js"></script>
    <button class='get-sentiment-btn'>Get Sentiment Analysis Score</button>
  </body>
</html>
